body {
    margin: 0;
    background-color: #000;
    font-family: monospace; 
}
button {
    font-family: monospace;
    border: none;
    padding: 8px 0px;
    outline: none;
    text-align: left;
    font-size: 1rem;
}
button:hover {
    cursor: pointer;
}
input {
    outline: none;
    font-size: 1rem;
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 100%;
    background-color: #cccccc;
    font-size: 1rem;
}
.header-name {
    display: flex;
    height: 30px;
    background-color: #000;
    top: 0px;
    width: 100%;
    position: fixed;
    align-items: center;
    color: lawngreen;
    border-left: solid 16px #141;
    text-decoration: none;
}
.header-name:hover {
    border-left: solid 16px lawngreen;
    cursor: pointer;
}
.app-history {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 30px;
    background-color: #000;
    top: 30px;
    width: 100%;
    position: fixed;
    align-items: center;
    color: #fff;
    font-family: monospace;
}
.app-history-button {
    background-color: #000;
    color: #fff;
    border-left: solid 16px #000;
    border-right: solid 16px #000;
}
.app-history-button:hover {
    border-left: solid 16px #141;
}
.app-history-button:active {
    border-left: solid 16px lawngreen;
}
.app-history-count {
    color: lawngreen;
    border-right: solid 16px #000;
}
.todo-send {
    display: flex;
    border-left: solid 16px #141;
    height: 30px;
    top: 61px;
    width: 100%;
    position: fixed;
}
.todo-send:hover {
    border-left: solid 16px lawngreen;
}
.todo-send:o {
    border-left: solid 16px lawngreen;
}
.todo-send-input {
    display: flex;
    flex: 2 1 auto;
    font-family: monospace;
    background-color: #141;
    color: lawngreen;
    border: none;
    cursor: pointer;
}
.todo-send-button {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    background-color: #141;
    border-left: solid 16px #141;
    color: #fff;
}
.todo-send-button:hover {
    border-left: solid 16px lawngreen;
}
.todo-send-button:active {
    border-left: solid 16px lawngreen;
}
.filter {
    display: flex;
    height: 30px;
    background-color: #000;
    color: #fff;
    top: 92px;
    width: 100%;
    position: fixed;
    flex-direction: row-reverse;
}
.filter-option {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-option-button {
    background-color: #000;
    color: #fff;
    border-left: solid 16px #000;
    border-right: solid 16px #000;
}
.filter-option-button:hover {
    border-left: solid 16px lawngreen;
}
.filter-option-button:active {
    border-left: solid 16px lawngreen;
}
.active-filter {
    border-left: solid 16px lawngreen;
}
.todos-list {
    display: flex;
    justify-content: center;
    top: 129px;
    width: 100%;
    position: absolute;
    justify-content: center;
    z-index: -1;
    background-color: #000;
    flex-direction: column-reverse;
}
.todo {
    display: flex;
    justify-content: center;
    background-color: #000;
    border: none;
    padding: 0px;
    color: #fff;
    align-items: center;
}
.todo-title {
    display: flex;
    flex: 5 1 70%;
    text-align: left;
    font-family: monospace;
    word-break: break-all;
    border: none;
    border-left: solid 16px #000;
    color: lawngreen;
    cursor: pointer;
    height: 35px;
    align-items: center;
}

.todo-title:hover {
    border-left: solid 16px lawngreen;
}

.active-input {
    border-left: solid 16px lawngreen;
}

.todo-title-input {
    cursor: pointer;
    display: flex;
    flex: 5 1 70%;
    text-align: left;
    font-family: monospace;
    word-break: break-all;
    padding: 8px 0;
    background-color: #141;
    color: lawngreen;
    border: none;
}
.edit-button {
    word-break: normal;
}
.todo-checked {
    display: flex;
    justify-content: center;
    color: lawngreen;
    flex: 1 1 0;
    border-left: 16px solid #000;
}
.checked-button {
    color: lawngreen;
    background-color: #000;
    border-right: solid 17px #000;
    border-left: 16px solid #000;
}
.checked-button:hover {
    cursor: pointer;
    border-left: 16px solid #141;
}
.checked-button:active {
    cursor: pointer;
    border-left: 16px solid lawngreen;
}
.checked {
    border-left: 16px solid #141;
}
.active-todo {
    color: lawngreen;
}
.done-todo {
    color: lawngreen;
}
.todo-edit {
    margin: 0 20px;
    flex: 1 1 0;
}
.edit-button {
    color: lightblue;
    background-color: #000;
    border: 1px solid #000;
}
.edit-button:hover {
    border: 1px solid lightblue;
}
.edit-button:active {
    border: 1px solid #fff;
}
.todo-delete {
    flex: 1 1 0;
}
.delete-button {
    color: red;
    background-color: #000;
    border-right: solid 33px #000;
    border-left: 16px solid #000;
}
.delete-button:hover {
    border-left: 16px solid #411;
}
.delete-button:active {
    border-left: 16px solid red;
}
