body {
    margin: 0;
    background-color: #666;
    font-family: monospace;
}
button {
    font-family: monospace;
    border: none;
    padding: 4px;
    outline: none;
}
button:hover {
    cursor: pointer;
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 100%;
    background-color: #cccccc;
}
.header-name {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #000;
    top: 0px;
    width: 100%;
    position: fixed;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.todo-send {
    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #999999;
    top: 50px;
    width: 100%;
    position: fixed;
}
.todo-send-input {
    display: flex;
    flex: 2 1 auto;
    font-size: 1rem;
    text-align: center;
    font-family: monospace;
}
.todo-send-button {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 1px solid lightblue;
    color: #000;
}
.todo-send-button:hover {
    border: 1px solid #fff;
}
.todo-send-button:active {
    border: 1px solid lightblue;
}
.filter {
    display: flex;
    justify-content: center;
    justify-content: center;
    height: 50px;
    background-color: #000;
    color: #fff;
    top: 80px;
    width: 100%;
    position: fixed;
}
.filter-option {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    align-items: center;
}
.filter-option-button {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}
.filter-option-button:hover {
    border: 1px solid #fff;
}
.filter-option-button:active {
    color: lawngreen;
    border: 1px solid lawngreen;
}
.active-filter {
    color: lawngreen;
    border: 1px solid lawngreen;
}
.list {
    display: flex;
    justify-content: center;
    top: 130px;
    width: 100%;
    position: absolute;
    justify-content: center;
    z-index: -1;
    background-color: #000;
    flex-direction: column;
}
.todo {
    display: flex;
    justify-content: center;
    background-color: #666;
    border: 2px solid #000;
    padding: 10px;
    color: #fff;
    align-items: center;
}
.todo-title {
    display: flex;
    justify-content: center;
    flex: 5 1 70%;
    text-align: center;
    word-break: break-all;
}
.edit-button {
    word-break: normal;
}
.todo-checked {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    color: lightgreen;
    flex: 1 1 0;
}
.todo-edit {
    margin: 0 20px;
    flex: 1 1 0;
}
.edit-button {
    color: lightblue;
    background-color: #000;
    border: 1px solid #666;
}
.edit-button:hover {
    border: 1px solid lightblue;
}
.edit-button:active {
    border: 1px solid #fff;
}
.todo-delete {
    margin: 0 20px;
    flex: 1 1 0;
}
.delete-button {
    color: red;
    background-color: #000;
    border: 1px solid #666;
}
.delete-button:hover {
    border: 1px solid red;
}
.delete-button:active {
    border: 1px solid #fff;
}
